doctype html
head
  link(rel='StyleSheet' href='../static/Style1.css')
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title ClimbingBoard  
  script(defer='' src='/static/JScodes.js')
body#CrushView
  h1=GetMsg 
  a(href='http://localhost:8080/HomePage')
    button(href='http://localhost:8080/HomePage', type='button' ) Back Home